body{
	background-color: #fff7e5;
	text-align: justify;
	color: #59483e;
	padding: 0px;
}


h1{
	color: #59483e;
	text-align: center;
	font-size: 39px;
}

.row-encabezados{
	background-color: #f5a3af;
	padding: 35px;
}

.carusel{
	padding: 35px;
}


nav a {
    padding-right: 51px;
	padding-left: 51px;
	color: #59483e;
}

nav a:hover {
    background-color: lightgray; /* Cambia el fondo cuando pasas el mouse */
    color: black;
    text-decoration: none;
}

nav a:active {
    color: #59483e; /* Cambia el color cuando se da clic */
}